* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}
body {
  background-color: #94d2bd;
  height: calc(100vh - 100px);
}
.game-container {
  width: 549px;
  border: 2px solid #005f73;
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: repeat(9, 60px);
  grid-template-rows: repeat(9, 60px);
  gap: 1px;
}
.cell {
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  border: 1px solid #005f73;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.cell::-webkit-inner-spin-button {
  appearance: none;
}
.cell {
  caret-color: transparent;
}
.cell:focus {
  background-color: #0a9396;
}
.cell:hover {
  background-color: #0a9396;
}
